{
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": false,
      "dynamicImport": true,
      "privateMethod": false,
      "functionBind": false,
      "exportDefaultFrom": false,
      "exportNamespaceFrom": false,
      "decorators": false,
      "decoratorsBeforeExport": false,
      "topLevelAwait": false,
      "importMeta": false
    },
    "minify": {
      "compress": true,
      "mangle": false
    },
    "baseUrl": ".",
    "paths": {
      "@/*": ["src/*"] // Match paths from tsconfig
    },
    // "transform": null,
    "target": "es5",
    "loose": false,
    "externalHelpers": false,
    // Requires v1.2.50 or upper and requires target to be es2016 or upper.
    "keepClassNames": false
  },
  "sourceMaps": true,
  "module": {
    "type": "es6"
  }
}
